@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

*:active , *:focus{
    outline: none;
}


body{
    background-color: rgb(237, 242, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
body::-webkit-scrollbar{
    display: none;
}


#container{
    background-color: #fff;
    position: relative;
    width: 20rem;
    height: 30rem;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 5px 10px 15px #888888;

    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

    transition: all 300ms ease;
}

.Y{
    transform: rotateY(90deg);
}


.heading{
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    font-weight: bolder;


}

.content{
    position: relative;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;

}


.content form{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
    align-items: center;
}

.input {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #4185fa;
    padding-bottom: 0.2rem;
    width: 80%;
}
.input input{
    text-align: center;
    border: none;
    background-color: #fff;
    font-size: 1rem;
}
.content button{
    border: none;
    background-color: #fff;
    background-color: #4185fa;
    margin-top: 0.5rem;
    border-radius: 2rem;
    width: max-content;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
    box-shadow: 0px 2px 6px #888888;
    transition: all 200ms ease;
}
.content button:hover{
    background-color: #356dcf;   
}













@media screen and (max-width:350px) {

    body{
        background-color: #fff;
        position: relative;
        width: 100%;
    }
    body::-webkit-scrollbar{
        display: none;
    }
    

    #container{
        background-color: #fff;
        position: relative;
        height: max-content;
        width: 100%;
        box-shadow: none;
        transform: translateY(-2rem);

        row-gap: 0.4rem;
    }
    
    
    .content{
        position: relative;
        width: 100%;
    }
    
    
    .content form{
        position: relative;
        width: 90%;
    }
    
    .input {
        position: relative;
        width: 100%;
    }
    .input input{
        position: relative;
        width: 100%;
    }
    
}