
#teacherProfileImg{
    width: 4.7rem; 
    height: 4.5rem; 
    border-radius: 50%;
}

@media screen and (max-width : 1000px) and (min-width : 850px) 
{
    #teacherProfileImg{
        width: 3rem;
        height: 2.8rem;
    }

}
@media screen and (max-width : 849px) and (min-width : 780px) 
{
    #teacherProfileImg{
        width: 3rem;
        height: 2.8rem;
    }
}
@media screen and (max-width : 779px) and (min-width : 701px) 
{
    #teacherProfileImg{
        width: 2.7rem;
        height: 2.5rem;
    }
}

