@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


*, *:before, *:after {
    box-sizing: border-box;
    --fontFamily : Poppins, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --backgroundColor : #edf2f9;
    --navigationBarColor : rgb(209, 225, 248);
    --textColor : #5e6e82;
    --textHoverColor : #cad0d6;
    --activeTextColor : #2864c5;
    --hoverDarkColor : rgb(35, 43, 53);
    --buttonColor : rgba(44, 124, 229, 0.844);
    --buttonHover : rgb(44, 123, 229);
    --formBorder : #d8e2ef;
    --littleHeadings : #344050;
    --backgroundDark : #0b1727;
    --boxShadow : 0 .5rem 1rem rgba(0,0,0,.15) ;

}



.feesDetailsContainer::-webkit-scrollbar{
    display: none;
}

.feesDetailsContainer{
    position: relative;
    width: 100%;
    min-height: 85%;
    height: 88%;

    background-color: var(--backgroundColor);
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin-top: 1rem;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    row-gap: 0.1rem;
}