
#rootImg{
    width: 4.7rem; 
    border-radius: 50%;
}

@media screen and (max-width : 1000px) and (min-width : 850px) 
{
    #rootImg{
        width: 3rem;
    }

}
@media screen and (max-width : 849px) and (min-width : 780px) 
{
    #rootImg{
        width: 3rem;
    }
}
@media screen and (max-width : 779px) and (min-width : 701px) 
{
    #rootImg{
        width: 2.7rem;
    }
}

